<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<meta name="author" content="Park Sung Hwa">
<meta name="Description" content="Web Develeper, Portfolio, Tech Posts, Daily">
<meta name="Keywords" content="web,developer,웹개발,웹개발자,포트폴리오,개발블로그">

<meta property="og:type" content="website">
<meta property="og:title" content="Sunghwa Github Blog">
<meta property="og:description" content="Web Develeper, Portfolio, Tech Posts, Daily">
<meta property="og:url" content="https://seong880.github.io">

<meta name="google-site-verification" content="aGZJR2RwFRGeZfuJQOPM5f548WNPr9TQfdleFVpZrPA" />

<link href="https://fonts.googleapis.com/css?family=Merriweather:300|Raleway:400,700" rel="stylesheet">
<link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.6/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.0/axios.min.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-161000865-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-161000865-1');
</script>

<title>{{ page.title | default: site.title }}</title>
{% seo %}