pre.highlight,
code {
	color: #ffffff;
	text-align: left;
	font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
	line-height: 1.8em;
    tab-size: 4;
    
    .highlight .ss {
        color: #56b6c2
    }

    .highlight .bp {
        color: #e5c07b
    }

    .highlight .vc {
        color: #e5c07b
    }

    .highlight .vg {
        color: #e5c07b
    }

    .highlight .vi {
        color: #e06c75
    }

    .highlight .il {
        color: #d19a66
    }

    .highlight .gu {
        color: #75715e
    }

    .highlight .gd {
        color: #f92672
    }

    .highlight .gi {
        color: #a6e22e
    }
}